.main {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #000000;
}

.header {
    height: 20%;
    width: 95%;
    border-radius: 5%;
    background-color: #ff0000;
}

.recieved {
    height: auto;
    width: 30%;
    background-color: aqua;

    }

.sent {
    height: auto;
    width: 30%;
    background-color:darkgreen;

}

.input {

}